
*.cache
.vs/InfServer/v15/Server/sqlite3/db.lock
.vs/InfServer/v15/Server/sqlite3/storage.ide
.vs/InfServer/v15/Server/sqlite3/storage.ide-shm
.vs/InfServer/v15/Server/sqlite3/storage.ide-wal
.vs/InfServer/v15/.suo
bin
obj
/.vs/Infantry-Online-Server/v16/.suo
/.vs/InfServer/v16/Server/sqlite3/db.lock
/.vs/InfServer/v16/Server/sqlite3/storage.ide
/.vs/InfServer/v16/.suo
/.vs
/Debug
Assets/obj/Debug/Assets.csproj.FileListAbsolute.txt
InfServer/obj/Debug/InfServer.pdb
InfServer/obj/Debug/InfServer.exe
InfServer/obj/Debug/InfServer.csproj.FileListAbsolute.txt
InfServer.StatServer/obj/Debug/InfServer.StatServer.csproj.FileListAbsolute.txt
InfServer.DirectoryServer/obj/Debug/InfServer.DirectoryServer.pdb
InfServer.Network/obj/Debug/InfServer.Network.csproj.FileListAbsolute.txt
InfServer.DirectoryServer/obj/Debug/InfServer.DirectoryServer.exe
InfServer.DirectoryServer/obj/Debug/InfServer.DirectoryServer.csproj.FileListAbsolute.txt
InfServer.DBComm/obj/Debug/InfServer.DBComm.pdb
InfServer.DBComm/obj/Debug/InfServer.DBComm.dll
InfServer.Database/obj/Debug/InfServer.Database.exe
InfServer.Database/obj/Debug/InfServer.Database.pdb
InfServer.DBComm/obj/Debug/InfServer.DBComm.csproj.FileListAbsolute.txt
InfServer.Database/obj/Debug/InfServer.Database.csproj.FileListAbsolute.txt
