<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InfDatabase.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=DEEPTHOUGHT-PC\SQLExpress;Persist Security Info=True;User ID=aaerox;Password=fuw5wf645"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>